
.shop-images{
    display: flex;
}
    .welcome-food{
        padding: 5px;
    }
    .image{
        width: 50%;
        height: 50%;
        margin-left: 10px;
        margin-right: 0;
        padding-left:50px;
    }
    .image img{
        width: 80%;
        padding-left: 50px;
        
    }
    .image1{
        margin-left: 100px;
        padding-left:50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        border-radius: 5%;
        background-image: url(images/download.jpg);
        
    }
    .image2{
        margin-left: 100px;
        padding-left:50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        border-radius: 5%;
        background-image: url(images/download\ \(1\).jpg);
        
    }
    .image3{
        margin-left: 100px;
        padding-left:50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        border-radius: 5%;
        background-image: url(images/images.jpg);
        
    }
    .image1 img{
            width: 20%;
            height: 20%;
            padding-left: 50px;
        }
        .image2 img{
            width: 20%;
            height: 20%;
            padding-left: 50px;}
            .image3 img{
                width: 20%;
                height: 20%;
                padding-left: 50px;}
    
    .link{
        background-color: blue;
        color: azure;
        padding: 10px 50px;
        font-weight: 200;
        border-radius: 5%;
        
    }
    .mission{
        text-align: center;
    }
    .year{
        color: darkorange;
    }
 
body{
    font-family: 'Oswald', sans-serif;
}
.pure{
    color: darksalmon;
 
}
.welcome{
    font-size: xx-large;
}
.food{
    color: crimson;
}