
.shop-images{
    display: flex;
}
#shop-our{
    border-left: 10px solid;
    border-image: linear-gradient( gold, red );
    border-image-slice: 1;
    border-radius: 10px;
}
.sweets img{
    width: 100%;
    border-radius: 30px;
}

.know-our{
    display: flex;
    width: 50;
}
.corona{
    color: burlywood;
}
.bulid{
    text-align: center;
}
    .welcome-food{
        padding: 5px;
    }
    .image{
        width: 50%;
        height: 50%;
        margin-left: 10px;
        margin-right: 0;
        padding-left:50px;
    }
    .image img{
        width: 80%;
        padding-left: 50px;
        
    }
    .image1{
        margin-left: 100px;
        padding-left:50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        border-radius: 5%;
        background-image: url(images/download.jpg);
        
    }
    .image2{
        margin-left: 100px;
        padding-left:50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        border-radius: 5%;
        background-image: url(images/download\ \(1\).jpg);
        
    }
    .image3{
        margin-left: 100px;
        padding-left:50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        border-radius: 5%;
        background-image: url(images/images.jpg);
        
    }
    .image1 img{
            width: 20%;
            height: 20%;
            padding-left: 50px;
        }
        .image2 img{
            width: 20%;
            height: 20%;
            padding-left: 50px;}
            .image3 img{
                width: 20%;
                height: 20%;
                padding-left: 50px;}
                .next-mission{
                    display: flex;
                
                }
    
    .link{
        background-color: bisque;
        color: red;
        padding: 10px 50px;
        font-weight: 200;
        border-radius: 10px;
        text-decoration: none;
        
    }
    .our_mission{
        padding-top: 20px;
    }
    .guti_sweets{
        width: 50%;
padding: 50px 50px 50px 100px;
    }
    .guti_sweets img{
        width: 100%;
        border-radius: 10px;
    }
    .mission{
        text-align: center;
    }
    .year{
        color: darkorange;
    }
 
body{
    font-family: 'Oswald', sans-serif;
}
.pure{
    color: darksalmon;
 
}
.welcome{
    font-size: xx-large;
}
.food{
    color: crimson;
}